venv/
__pycache__/
*.pyc

*.db
*.sqlite3

.env

gunicorn.ctl

backend_refactor.tar.gz

*.tar.gz
*.zip

backend/static/fotos_evento/
backend/static/portadas/

logs/

tmp/

.DS_Store
service_account.json
backend/service_account.json
respaldo_env_2026-02-26.env
